---
layout: default
title: Capabilities
---
<div class="capability">
    {% assign sorted_capabilities = site.capabilities | sort: "category" %}
    {% assign last_category = "none" %}

    <h1>{{ page.title }}</h1>
    <table>
        {% for capability in sorted_capabilities %}
            {% if capability.category != last_category %}
                <tr>
                    <td class="capability-category" colspan="3">
                        Category {{ capability.category }}
                    </td>
                </tr>
                {% assign last_category = capability.category %}
            {% endif %}
            <tr>
                <td class="capability-name"><a href="{{ capability.url | prepend: site.baseurl }}">{{ capability.name }}</a></td>
                <td><a href="{{ site.baseurl }}/maturity.html"><div class="capability-maturity-{{ capability.maturity }}"></div></a></td>
                <td class="capability-description">{{ capability.description }}</td>
            </tr>
        {% endfor %}
    </table>
</div>