---
layout: default
title: Principles
---
<div class="principle">
    {% assign sorted_principles = site.principles | sort: "principle" %}

    <h1>{{ page.title }}</h1>
    <table>
        {% for principle in sorted_principles %}
            <tr>
                <td class="principle-title"><a href="{{ principle.url | prepend: site.baseurl }}">{{ principle.title }}</a></td>
                <td class="principle-description">{{ principle.description }}</td>
            </tr>
        {% endfor %}
    </table>
</div>